.messages{
    overflow: auto;
    height: calc(100% - 155px);
}
.wraper{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 15px;
    border: black 1px solid;
    width: 600px;
}
.chat{
    width: 200px;
    background-color: #ffebeb;
    border-radius: 15px;
    color: black;

}
.chatB{
    text-align: center;
}
.chatMessages{
    width: 400px;
    height: 500px;
}
form{
    margin-top: 20px;
}
button{
    margin-top: 10px;
}
.message > span{
    background-color: purple;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.userNameDiv{
    margin-top: 5px;
}
.message{
    margin-top: 20px;
    margin-left: 5px;
}
.userNameDiv > span {
    font-size: 0.7rem;
}
h6{
    margin-top: 20px;
}